{% extends "portfolio/base.html" %}

{% block content %}
   
   
   {% load static %}

 

   <img style="align-item:center;" src="{% static 'portfolio/pictures/KF_i30_N_MY25_758x540_02.jpg'%}" width="500px" height="650px">
</br>
</br>
   {% for project in Project %}

   <h3 style="text-align:center;" text-sixe="bold;">{{ project.tittle }}</h3>
   <p>{{ project.description }}</p>
   <img src="{{ project.image.url}}">
   {% if project.url %}
   </br><a href="{{ project.url}}">Click here</a>
   {% endif %}

   {% endfor %}


{% endblock %}


